
footer{
	text-align: right;
	margin-top: 20px;
	padding: 10px;
	color: white;
	background-color: #b91773; 
}
* {
	margin: 0;
}
html, body {
	height: 100%;
	
}
#nav{
	font-family: 'Ubuntu', sans-serif;
}
.wrapper {
	min-height: 100%;
	margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
.push {
	height: 155px; /* '.push' must be the same height as 'footer' */
}

#nav{
	background-color: #0365b8;
	margin: 0 auto 0 auto;
}
#nav a{
	color: 	white;
}

#nav a:hover{
	background-color:#b91773;
	color:white;
}

#quicklinks{
	list-style: none;
}

.dropdown-menu li a{
	background-color:#0365b8;
	color:black;
}

.nav-justified>.dropdown .dropdown-menu {
	top: auto;
	left: auto;
	background-color: #0365b8;;
}
	

.nav.nav-justified > li.dropdown.active.open > a,
.nav.nav-justified > li.dropdown.active.open > ul.dropdown-menu a:hover
{
  color: #fff;
  background-color: #b91773;
  border-color: #fff;
}
/*.nav.nav-justified > li.dropdown.active.open > a span.caret {border-top-color: #fff;border-bottom-color: #fff;}*/

.dropdown-menu>li>a:hover{
	background-color: black;
}
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}